$paleblue: rgb(93, 97, 159);
$paledarkblue: rgb(71, 67, 108);
$palelightblue: rgb(187, 182, 229);
$shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.4);
body {
    background-color: $palelightblue;
    height: 100%;
    width: 100%;
    font-family: Inter, sans-serif;
}

footer {
    position: fixed;
    bottom: 20px;
    display: flex;
    right: 0;
    left: 0;
    justify-content: center;
    .foot {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
        border-radius: 4px;
        p,
        a {
            color: white;
            margin: 0;
            transition: 0.2s;
        }
    }
}